<section class="cta-band" aria-labelledby="cta-{{$id}}">
  <div class="container cta-band__inner">
    <div class="cta-band__text">
      <h2 id="cta-{{$id}}" class="cta-band__title">{{$title}}</h2>
      {{#$body}}<p>{{$body}}</p>{{/$body}}
    </div>
    <div class="cta-band__actions">
      <a class="btn btn--primary" href="{{$href}}" data-track="{{$track}}" data-track-location="cta-{{$id}}">{{$label}}<svg class="icon icon--sm" aria-hidden="true"><use href="#i-arrow"/></svg></a>
      {{#$href2}}<a class="btn btn--ghost" href="{{$href2}}" data-track="{{$track2}}" data-track-location="cta-{{$id}}">{{$label2}}</a>{{/$href2}}
    </div>
  </div>
</section>
